<link href="stylesheets/style.css" rel="stylesheet">
<br>
<form id="view2" action="/api/items">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1 class="formTitle">View Selected Sale</h1>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{!-- <label>Sale Name</label> --}}
                        {{!-- <input type="text" class="form-control" id="saleName"> --}}
                        <div class="sampleName">Spencer Cox's Sale</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="saleDescription">Sale Description</label>
                        {{!-- <textarea type="textarea" class="form-control" rows="3" id="saleDescription"></textarea> --}}
                        <div class="sampleDescription">Men's/Women's clothing, kids' toys, free surprise promo item with each sale!</div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <br>
                        <label for="saleItems">Items for Sale</label>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Photo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="id">1</th>
                                    <td id="name">Teddy Bear</td>
                                    <td id="description">Cute fuzzy, brown teddy bear, like new!</td>
                                    <td id="category">toys</td>
                                    <td id="price">$5.00</td>
                                    <td id="photo">photo placeholder</td>
                                </tr>
                                <tr>
                                    <td id="id">2</th>
                                    <td id="name">Men's Shirt</td>
                                    <td id="description">Purple men's short sleeve t-shirt, size large</td>
                                    <td id="category">clothing</td>
                                    <td id="price">$5.00</td>
                                    <td id="photo">photo placeholder</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <br>
                                <label for="city">City</label>
                                <div class="sampleCity">Salt Lake City</div>
                                {{!-- <select class="form-control" id="selectCity">
                                    <option> </option>
                                </select> --}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="contact">Contact Method</label>
                                {{!-- <input type="text" class="form-control" id="contactMethod"> --}}
                                <div class="sampleContact">sampleemail@google.com</div>
                                <small id="contactHelp" class="form-text text-muted">Use this info to contact the seller.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>