*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(255, 166, 0);
    text-decoration: none;
}
.navbar-brand{
  font-family: 'Gochi hand';
  text-decoration: none;
  align-items: flex-start;
}

.nav-link{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
    font-size: medium;
    font-weight: 700;
}


body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

#home{
  background-image: url("garage1.png");
  display: table;
  height: 75%;
  position: relative;
  width: 100%;
  background-size: cover;
  background-color: white;
}
.landing-text{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.landing-text h1{
  font-size: 700%;
  font-weight: 500;
  font-family: 'Gochi hand';
  color: white;
}
.landing-text h3{
  color: white;
  font-weight: 700;
}
.landing-text a{
  background-color: white;
}
#fixed{
  background-image: url("./garage3.jpg");
  display: table;
  height: 50%;
  position: relative;
  width: 100%;
  background-size: cover;
}





    .testimonials{
        padding: 40px 0;
        background: #f1f1f1;
        color: #434343;
        text-align: center;
      }
      .inner{
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
        padding: 0 20px;
      }
      
      .border{
        width: 160px;
        height: 5px;
        background: rgb(255, 166, 0);
        margin: 26px auto;
      }
      
      .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .col{
        flex: 33.33%;
        max-width: 33.33%;
        box-sizing: border-box;
        padding: 15px;
      }
      .testimonial{
        background: #fff;
        padding: 30px;
      }
      .testimonial img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      .name{
        font-size: 20px;
        text-transform: uppercase;
        margin: 20px 0;
      }
      
      #container {
          min-height: 100%;
      }
      #main {
          overflow: auto;
          padding-bottom: 100px;
      }

    #footer {
        background-color: rgb(255, 166, 0);
        position: relative;
        height: 100px;
        margin-top: -100px;
        clear: both;
    }

    .container {
      color: black;
      text-align: left;

    }

    label {
      font-weight: bold; 
    }

    footer{
      width: 100%;
      background-color: rgb(255, 166, 0);
      padding: 2% 2% 2% 2%;
      color: white;
    }
    .fa{
      padding: 15px;
      font-size: 25px;
      color: white;
    }

    footer h1{
      font-family: 'Gochi hand';
      font-size: 60px;
    }
    